.main-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/purple-spotlight.png');
    background-position: center center;
    background-size: cover;
}

button#changePW,
a.sign-out {
    cursor: pointer;
    transition: all 0.4s ease;
    border: 1px solid #fff;
    padding: 8px 20px;
    font-weight: bold;
}

button#changePW:hover,
a.sign-out:hover {
    background-color: #fff;
    color: #111;
}