.main-container.events {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/purple-spotlight.png');
    background-position: center center;
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 0;
    display: block;
}

.main-container.events .events-list {
    height: 100%;
}