.main-container.portal {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url('/purple-spotlight.png');
    background-position: center center;
    background-size: cover;
    padding-bottom: 0;
}

main.portal {
    position: relative;
    width: 50%;
    height: 100%;
}

button#changePW,
a.sign-out {
    cursor: pointer;
    transition: all 0.4s ease;
    border: 1px solid #fff;
    padding: 8px 20px;
    font-weight: bold;
}

button#changePW:hover,
a.sign-out:hover {
    background-color: #fff;
    color: #111;
}

a.sign-out {
    position: absolute;
    top: 80px;
    right: 80px;
}

.change-pw-modal-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.change-pw-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    color: #111;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

button#changePW.modal-btn {
    background-color: #111;
    color: #fff;
    border-color: #111;
}
button#changePW.modal-btn:hover {
    background-color: #fff;
    color: #111;
}

.portal-sidebar {
    position: absolute;
    left: -50%;
    top: 115px;
}

.acct-tab {
    padding: 8px 8px;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    /* width: 100%;
    text-align: left; */
}

.acct-tab.active-tab {
    border-color: rgba(255, 255, 255, 0.6);
}

.acct-tab:hover {
    border-color: #fff;
}

.acct-info-section {
    margin-bottom: 24px;
}

.acct-info-section h3 {
    margin-bottom: 8px;
}

/* portal events */
.events-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events-header button {
    border: 1px solid #fff;
}
.events-header button:hover {
    border-color: #111;
    color: #111;
    background-color: #fff;
}

.add-event-modal,
.edit-event-modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ae-modal-inner {
    background-color: #ededed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #111;
    position: absolute;
    padding: 30px 20px;
}

.ae-modal-inner h2 {
    margin-bottom: 18px;
}

.ae-modal-inner button#submit-new-event {
    background-color: #111;
    border: 1px solid #111;
    color: #fff;
    padding: 8px 20px;
    margin-top: 18px;
}

.ae-modal-inner button#submit-new-event:hover {
    background-color: #fff;
    color: #111;
}

.pw-change-inline {
    display: grid;
    grid-template-areas: 
        "current-pw current-pw"
        "new-pw-1 new-pw-2"
        "button blank"
    ;
}

.pw-change-inline .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.pw-change-inline input {
    background: #dadada;
    color: #111;
    margin: 4px 12px 4px 0;
    padding: 4px 8px;
}

.pw-change-inline .input-group.current-pw {
    grid-area: current-pw;
}
.pw-change-inline .input-group.new-pw-1 {
    grid-area: new-pw-1;
}
.pw-change-inline .input-group.new-pw-2 {
    grid-area: new-pw-2;
}
.pw-change-inline button {
    grid-area: button;
}

/* messages */
.messages {
    width: 100%;
    overflow-y: auto;
}

.messages > h2 {
    margin-bottom: 24px;
}

.message-listing {
    width: 100%;
    display: grid;
    grid-template-areas: 
        "name name blank date"
        "email email email blank2"
        "read read replied replied"
    ;
    margin-bottom: 18px;
    padding: 16px 8px;
    border-bottom: 1px solid #fff;
}
.message-listing:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.message-listing h3 {
    grid-area: name;
    text-align: left;
}
.message-listing .email {
    grid-area: email;
    text-align: left;
    margin-bottom: 10px;
}
.message-listing .date {
    grid-area: date;
    text-align: right;
}
.message-listing .read {
    grid-area: read;
    text-align: left;
}
.message-listing .replied {
    grid-area: replied;
    text-align: right;
}

/* active message modal */
.active-message {
    display: grid;
    grid-template-areas: 
        "from from from close"
        "date date date date"
        "message message message message"
        "message message message message"
        "mark-as-unread mark-as-replied blank trash"
    ;
    grid-template-rows: min-content min-content auto auto min-content;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background: #ededed;
    color: #111;
    padding: 24px;
}

.active-message h3 {
    grid-area: from;
    margin-bottom: 8px;
}
.active-message .date {
    grid-area: date;
}
.active-message .trash {
    grid-area: trash;
}
.active-message .close {
    grid-area: close;
    margin-top: -20px;
    margin-right: -20px;
    font-size: 24px;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
}
.active-message .message {
    grid-area: message;
    padding: 24px 0;
}
.active-message .mark-as-unread {
    grid-area: mark-as-unread;
    width: fit-content;
    width: -moz-fit-content;
}
.active-message .mark-as-replied {
    grid-area: mark-as-replied;
    width: fit-content;
    width: -moz-fit-content;
}
.active-message .mark-as-replied input {
    cursor: pointer;
    pointer-events: none;
    margin-left: 8px;
}
.active-message .mark-as-unread:hover,
.active-message .mark-as-replied:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

/* MOBILE */

@media (max-width: 767px) {
    a.sign-out {
        top: 40px;
        right: 40px;
    }
    .main-container.portal {
        padding-top: 140px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .acct-info-section {
        width: 100%;
    }
    .main-container.portal main.portal {
        padding-bottom: 40px;
        margin-top: 70px;
    }

    .acct-info-group {
        overflow-y: auto;
        padding-bottom: 60px;
        max-width: 100%;
    }

    .portal-sidebar {
        top: 140px;
        left: 0;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-around;
    }

    .pw-change-inline {
        grid-template-areas:
            "current-pw"
            "new-pw-1"
            "new-pw-2"
            "button"
        ;
    }

    .active-message {
        width: 100%;
        height: 60%;
        display: grid;
        grid-template-areas: 
            "blank close"
            "from from"
            "date date"
            "message message"
            "message message"
            "mark-as-unread mark-as-replied"
            "blank trash"
        ;
    }
    .active-message h3 span.email {
        font-size: 4vw;
    }
    .mark-as-replied {
        display: flex;
    }
}