@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-image: url(/purple-spotlight.png);
    background-position: 50%;
    background-size: cover;
}

.main-container {
    display: block;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    margin-top: 132px;
    padding-top: 40px;
}

.main-container .homepage-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

/* fireteam tag */
.fireteam-tag {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 240px;
    padding: 8px 20px;
    border: 1px solid #fff;
}

.fireteam-tag svg,
.fireteam-tag img {
    margin-right: 10px;
    padding: 5px;
}

/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* position: relative; */
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    position: relative;
    padding: 40px 0;
}

.navbar-buttons a {
    background: #fff;
    color: #111;
    font-size: 20px;
    width: 200px;
    text-align: center;
    border: 1px solid #fff;
    transition: all 0.2s ease;
    z-index: 20;
}

.navbar-buttons a:hover {
    background: #111;
    color: #fff;
}

.navbar-buttons .wisp-container {
    position: absolute;
    bottom: -20px;
    transition: left 0.8s ease, bottom 0.8s ease;
}

.wisp-container:first-of-type {
    left: 0;
}
.wisp {
    transform-origin: 35%;
    transition: all 0.2s ease;
}

@keyframes hoveringWisp {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes hoveringWispReverse {
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/* .navbar:hover  */
.navbar-buttons .wisp-container:nth-of-type(2n + 1) .wisp {
    animation: hoveringWisp 2s linear infinite;
    transform-origin: 40%;
}
/* .navbar:hover  */
.navbar-buttons .wisp-container:nth-of-type(2n) .wisp {
    animation: hoveringWispReverse 2.5s linear infinite;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}
h2 {
    font-size: 28px;
    line-height: 32px;
}
h3 {
    font-size: 24px;
    line-height: 28px;
}
h4 {
    font-size: 20px;
    line-height: 24px;
}

button {
    padding: 8px 20px;
    cursor: pointer;
}

a.inline,
.inline a {
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: all 0.2s ease;
}

a.inline:hover,
.inline a:hover {
    color: #dadada;
    text-underline-offset: 3px;
}

@media (max-width: 767px) {
    .desktop-only {
        display: none;
    }
    /* .navbar {
        max-width: 98%;
        overflow: hidden;
    } */
    .navbar-buttons {
        flex-direction: column;
        row-gap: 10px;
        padding: 30px 10px;
        align-items: flex-end;
    }
    .homepage-logo img {
        max-width: 150px;
    }
    .main-container {
        margin-top: 175px;
        height: calc(100vh - 175px);
        overflow-y: auto;
    }
}